<ion-view title="Rate a Car" id="page2">
    <ion-content padding="true" style="background: url(img/QAcWGswrQdqJQnQmSiHa_car-background-images-6.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="spacer" style="width: 300px; height: 13px;"></div>
        <form id="rateACar-form2" class="list">
            <button id="rateACar-button5" class="button button-assertive  button-block">Get Location</button>
            <label class="item item-input" id="rateACar-input2">
                <span class="input-label">Car Type</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="rateACar-input4">
                <span class="input-label">Make</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="rateACar-input3">
                <span class="input-label">Model</span>
                <input type="text" placeholder="">
            </label>
            <div id="rateACar-button-bar2" class="button-bar">
                <button id="rateACar-button15" class="button button-assertive  button-block icon ion-android-star-outline"></button>
                <button id="rateACar-button18" class="button button-assertive  button-block icon ion-android-star-outline"></button>
                <button id="rateACar-button19" class="button button-assertive  button-block icon ion-android-star-outline"></button>
                <button id="rateACar-button20" class="button button-assertive  button-block icon ion-android-star-outline"></button>
                <button id="rateACar-button21" class="button button-assertive  button-block icon ion-android-star-outline"></button>
            </div>
            <button id="rateACar-button3" style="font-weight:600;border-radius:15px 15px 15px 15px;" class="button button-assertive  button-block">Submit Rating</button>
            <div id="rateACar-button-bar1" class="button-bar"></div>
        </form>
    </ion-content>
</ion-view>