<ion-view title="Home" id="page3">
    <ion-content padding="true" style="background: url(img/rRvhSbt4QPyJzqjoct5c_car-background-images-6.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div>
            <img src="img/1kx4kTIZQYGtAMZOaqst_vroomsy-logo.png" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto; padding-bottom: 40px;">
        </div>
        <div id="home-markdown1" style="color:#000000;text-align:center; background-color:#FFFFFF;">
            <p>
                <strong>Vroomsy</strong> is an app that allows car enthusiasts to rate and archive data about cars they have previously driven and compare the to other cars they have driven before. This is done by going to the rate car page and filling in a rating form. once the submit button has been pressed, the new car will be processed and added to the list of previously rated cars, which can be found on the previously rated page with the other cars that have been rated.
            </p>
        </div>
    </ion-content>
</ion-view>