<ion-view title="Previous Ratings" id="page4" style="background-color:#FFFFFF;">
    <ion-content padding="true" style="background: url(img/E3W4fshQHab9eoefcpwn_car-background-images-6.jpg) no-repeat center;background-size:cover;" class="has-header">
        <button id="previousRatings-button6" onclick="clearData()" style="border-radius:15px 15px 15px 15px;" class="button button-assertive  button-block icon ion-trash-b">Clear!</button>
        <ion-list id="previousRatings-list7">
            
        </ion-list>
    </ion-content>
</ion-view>