<ion-view title="Vroomsy" id="page6">
    <ion-content padding="true" style="background: url(img/boRdIXPpSC21FvrBakwM_car-background-images-6.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div>
            <img src="img/nQv84vVQSCUDlPMVAWdO_vroomsy-logo.png" width="35%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="nAv.home" id="vroomsy-button4" style="font-weight:600;color:#FFFFFF;border-radius:15px 15px 15px 15px;" class="button button-assertive  button-block">Enter</a>
    </ion-content>
</ion-view>